In [132]:
import pandas as pd
trees = pd.read_csv('trees.csv')

In [133]:
heat = pd.read_csv('Heat.csv')

In [134]:
trees.columns

Index(['FID', 'ID', 'NAME', 'ST_ABBREV', 'TC_ID', 'Shape_Leng', 'OBJECTID',
       'Total_A', 'Can_A', 'Grass_A', 'Soil_A', 'Water_A', 'Build_A', 'Road_A',
       'Paved_A', 'Perv_A', 'Imperv_A', 'Can_P', 'Grass_P', 'Soil_P',
       'Water_P', 'Build_P', 'Road_P', 'Paved_P', 'Perv_P', 'Imperv_P',
       'OBJECTID_1', 'TC_ID_12', 'VALUE_0', 'TC_E_A', 'TC_Pv_A', 'TC_Land_A',
       'TC_Pi_A', 'TC_P_A', 'TC_E_P', 'TC_Pv_P', 'TC_P_P', 'TC_Pi_P',
       'Shape__Area', 'Shape__Length'],
      dtype='object')

In [135]:
trees = trees.drop(['Shape_Leng', 'OBJECTID',
       'Total_A', 'Can_A', 'Grass_A', 'Soil_A', 'Water_A', 'Build_A', 'Road_A',
       'Paved_A', 'Perv_A', 'Imperv_A', 'Can_P', 'Grass_P', 'Soil_P',
       'Water_P', 'Build_P', 'Road_P', 'Paved_P', 'Perv_P', 'Imperv_P',
       'OBJECTID_1', 'TC_ID_12', 'VALUE_0', 'TC_E_A', 'TC_Pv_A', 'TC_Land_A',
       'TC_Pi_A', 'TC_P_A', 'TC_Pv_P', 
       'Shape__Area', 'Shape__Length'], axis = 1)

In [136]:
trees.columns

Index(['FID', 'ID', 'NAME', 'ST_ABBREV', 'TC_ID', 'TC_E_P', 'TC_P_P',
       'TC_Pi_P'],
      dtype='object')

In [137]:
trees.columns = ['FID', 'ID', 'NAME', 'ST_ABBREV', 'TC_ID', 'Existing Canopy', 'Possible Canopy Percentage', 'Possible Impervious Canopy Percentage']

In [138]:
trees

,FID,ID,NAME,ST_ABBREV,TC_ID,Existing Canopy,Possible Canopy Percentage,Possible Impervious Canopy Percentage
0,1,25017342400,2.501734e+08,MA,1,23.025841,76.800924,63.519561
1,2,25017350103,2.501735e+08,MA,2,0.987414,47.212343,38.928136
2,3,25017350104,2.501735e+08,MA,3,0.000000,0.000000,0.000000
3,4,25017351403,2.501735e+08,MA,4,15.085379,42.433734,31.908659
4,5,25017351404,2.501735e+08,MA,5,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...
206,207,25025981501,2.502598e+08,MA,207,39.508615,34.956152,13.371171
207,208,25025981502,2.502598e+08,MA,208,15.124716,73.228514,38.885691
208,209,25025981600,2.502598e+08,MA,209,9.732682,88.060410,4.582282
209,210,25025981700,2.502598e+08,MA,210,39.451426,50.839747,17.390037
210,211,25025981800,2.502598e+08,MA,211,60.111403,31.515219,9.521435

In [139]:
heat

,FID,ID,NAME,ST_ABBREV,TC_ID,Shape_Leng,OBJECTID,Mean_am_T_,Mean_am_HI,Mean_p2_T_,Mean_p2_HI,Mean_ev_T_,Mean_ev_HI,Shape__Area,Shape__Length
0,1,25017342400,2.501734e+08,MA,1,1561.643072,1,76.482974,77.751982,91.487592,96.114964,85.962991,91.129861,7.041688e+03,1561.643071
1,2,25017350103,2.501735e+08,MA,2,3873.245327,2,76.919924,78.148220,92.117761,97.142557,85.983757,91.714299,6.233939e+04,3873.245327
2,3,25017350104,2.501735e+08,MA,3,363.457910,3,76.828968,77.992563,91.643324,96.959633,86.001442,91.861055,4.886585e+03,363.457910
3,4,25017351403,2.501735e+08,MA,4,1893.664748,4,76.654550,77.877502,91.767997,97.197172,86.533602,91.889832,2.970868e+04,1893.664748
4,5,25017351404,2.501735e+08,MA,5,186.413187,5,76.930857,78.128606,92.116076,96.653943,85.993484,91.292666,1.499376e+03,186.413187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,207,25025981501,2.502598e+08,MA,207,89186.324372,207,75.247745,76.488506,91.126121,96.232216,85.301352,90.283886,8.884743e+06,89186.324372
207,208,25025981502,2.502598e+08,MA,208,13376.521540,208,74.536921,75.753470,91.479643,95.924464,85.133247,90.008815,4.895811e+06,13376.521540
208,209,25025981600,2.502598e+08,MA,209,20801.087917,209,75.323162,76.517198,89.958079,95.623551,84.231902,88.514125,6.454931e+06,20801.087917
209,210,25025981700,2.502598e+08,MA,210,7926.989925,210,76.681061,78.009545,92.327713,97.838895,86.035625,91.227994,3.520802e+06,7926.989925
210,211,25025981800,2.502598e+08,MA,211,42834.082481,211,74.675025,75.983460,90.495435,95.238229,83.846813,87.803371,1.095762e+07,42834.082481

In [140]:
result = pd.merge(heat, trees, on='FID')

In [141]:
result.columns

Index(['FID', 'ID_x', 'NAME_x', 'ST_ABBREV_x', 'TC_ID_x', 'Shape_Leng',
       'OBJECTID', 'Mean_am_T_', 'Mean_am_HI', 'Mean_p2_T_', 'Mean_p2_HI',
       'Mean_ev_T_', 'Mean_ev_HI', 'Shape__Area', 'Shape__Length', 'ID_y',
       'NAME_y', 'ST_ABBREV_y', 'TC_ID_y', 'Existing Canopy',
       'Possible Canopy Percentage', 'Possible Impervious Canopy Percentage'],
      dtype='object')

In [142]:
result.drop(['ID_y', 'NAME_y', 'ST_ABBREV_y'], axis = 1, inplace = True)

Drop Null Values

In [143]:
result = result[result['Mean_am_T_'] != 0]

In [144]:
result.columns

Index(['FID', 'ID_x', 'NAME_x', 'ST_ABBREV_x', 'TC_ID_x', 'Shape_Leng',
       'OBJECTID', 'Mean_am_T_', 'Mean_am_HI', 'Mean_p2_T_', 'Mean_p2_HI',
       'Mean_ev_T_', 'Mean_ev_HI', 'Shape__Area', 'Shape__Length', 'TC_ID_y',
       'Existing Canopy', 'Possible Canopy Percentage',
       'Possible Impervious Canopy Percentage'],
      dtype='object')

In [145]:
result.drop(['TC_ID_x', 'Shape_Leng'], axis= 1, inplace = True)

In [146]:
neighborhoods = pd.read_csv("canopy_area.csv")

In [147]:
neighborhoods.head()

,Unnamed: 0,ID,Total,Neighborhood,Existing_Canopy,Potential_Canopy,Impossible_Canopy,Existing_Percent,Potential_Percent,Impossible_Percent
0,0,25017342400,7039,Everett,1595,5320,124,22.659469,75.578917,1.761614
1,1,25017350103,62338,Somerville,608,29071,32659,0.975328,46.634477,52.390195
2,2,25017350104,4887,Somerville,0,0,4887,0.000000,0.000000,100.000000
3,3,25017351403,29720,Somerville,4479,12599,12642,15.070659,42.392328,42.537012
4,4,25017351404,1501,Somerville,0,0,1501,0.000000,0.000000,100.000000

In [148]:
neighborhoods.columns

Index(['Unnamed: 0', 'ID', 'Total', 'Neighborhood', 'Existing_Canopy',
       'Potential_Canopy', 'Impossible_Canopy', 'Existing_Percent',
       'Potential_Percent', 'Impossible_Percent'],
      dtype='object')

In [149]:
neighborhoods.drop(['Unnamed: 0', 'Total',
       'Potential_Canopy', 'Existing_Canopy', 'Impossible_Canopy',
       'Potential_Percent', 'Impossible_Percent'], axis = 1, inplace=True)

In [150]:
neighborhoods.head()

            ID Neighborhood  Existing_Percent
0  25017342400      Everett         22.659469
1  25017350103   Somerville          0.975328
2  25017350104   Somerville          0.000000
3  25017351403   Somerville         15.070659
4  25017351404   Somerville          0.000000

In [151]:
neighborhoods.columns = ["ID_x", "Neighborhood", "Existing_Percent"]

In [152]:
result.head()

,FID,ID_x,NAME_x,ST_ABBREV_x,OBJECTID,Mean_am_T_,Mean_am_HI,Mean_p2_T_,Mean_p2_HI,Mean_ev_T_,Mean_ev_HI,Shape__Area,Shape__Length,TC_ID_y,Existing Canopy,Possible Canopy Percentage,Possible Impervious Canopy Percentage
0,1,25017342400,2.501734e+08,MA,1,76.482974,77.751982,91.487592,96.114964,85.962991,91.129861,7041.688232,1561.643071,1,23.025841,76.800924,63.519561
1,2,25017350103,2.501735e+08,MA,2,76.919924,78.148220,92.117761,97.142557,85.983757,91.714299,62339.388916,3873.245327,2,0.987414,47.212343,38.928136
2,3,25017350104,2.501735e+08,MA,3,76.828968,77.992563,91.643324,96.959633,86.001442,91.861055,4886.584961,363.457910,3,0.000000,0.000000,0.000000
3,4,25017351403,2.501735e+08,MA,4,76.654550,77.877502,91.767997,97.197172,86.533602,91.889832,29708.675049,1893.664748,4,15.085379,42.433734,31.908659
4,5,25017351404,2.501735e+08,MA,5,76.930857,78.128606,92.116076,96.653943,85.993484,91.292666,1499.375977,186.413187,5,0.000000,0.000000,0.000000

In [153]:
neighborhoods.head()

          ID_x Neighborhood  Existing_Percent
0  25017342400      Everett         22.659469
1  25017350103   Somerville          0.975328
2  25017350104   Somerville          0.000000
3  25017351403   Somerville         15.070659
4  25017351404   Somerville          0.000000

In [154]:
final = pd.merge(neighborhoods, result, on='ID_x')

In [155]:
final.head()

,ID_x,Neighborhood,Existing_Percent,FID,NAME_x,ST_ABBREV_x,OBJECTID,Mean_am_T_,Mean_am_HI,Mean_p2_T_,Mean_p2_HI,Mean_ev_T_,Mean_ev_HI,Shape__Area,Shape__Length,TC_ID_y,Existing Canopy,Possible Canopy Percentage,Possible Impervious Canopy Percentage
0,25017342400,Everett,22.659469,1,2.501734e+08,MA,1,76.482974,77.751982,91.487592,96.114964,85.962991,91.129861,7041.688232,1561.643071,1,23.025841,76.800924,63.519561
1,25017350103,Somerville,0.975328,2,2.501735e+08,MA,2,76.919924,78.148220,92.117761,97.142557,85.983757,91.714299,62339.388916,3873.245327,2,0.987414,47.212343,38.928136
2,25017350104,Somerville,0.000000,3,2.501735e+08,MA,3,76.828968,77.992563,91.643324,96.959633,86.001442,91.861055,4886.584961,363.457910,3,0.000000,0.000000,0.000000
3,25017351403,Somerville,15.070659,4,2.501735e+08,MA,4,76.654550,77.877502,91.767997,97.197172,86.533602,91.889832,29708.675049,1893.664748,4,15.085379,42.433734,31.908659
4,25017351404,Somerville,0.000000,5,2.501735e+08,MA,5,76.930857,78.128606,92.116076,96.653943,85.993484,91.292666,1499.375977,186.413187,5,0.000000,0.000000,0.000000

In [156]:
final.to_csv("final.csv")